.heroPage {
   width: 100lvw;
   height: 100lvh;
   display: flex;
   padding: 0;
   margin: 0;
}

.heroWrapper h1 {
  will-change: transform;
  transform: translateZ(0); /* promote to GPU */
}

.heroPage {
  min-height: 200vh; /* ensures enough distance for scrub to feel smooth */
}

.heroWrapper {
   height: 100%;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   align-items: space-between;
}

.heroWrapper>div {
   width: 100%;
   height: 50dvh;
   display: flex;
   padding: 5rem 0rem 0rem 0rem;
   /* border: 1px solid pink; */
}


.heroWrapper>div>h1 span {
   font-family: var(--cursive);
   font-size: 20rem;
   line-height: 12rem;
   letter-spacing: -0.1rem;
}

.heroWrapper>div h1 {
   font-family: var(--serif);
   font-weight: 100;
   letter-spacing: -0.6rem;
   font-size: 12rem;
   padding: 0;
   margin: 0;
   line-height: 12rem;
}

.heroWrapper>div:last-child {
   width: 100%;
   justify-content: flex-end;
   padding-right: 2rem;
   align-items: flex-end;
}

.heroWrapper>div:last-child h1 span {
   letter-spacing: -1.3rem;
}


@media screen and (max-width: 768px) {

   .heroWrapper>div {
      padding: 4rem 1rem 1rem 1rem;
   }

   .heroWrapper>div>h1 span {
      font-size: 12rem;
      line-height: inherit;
      letter-spacing: -0rem;
   }

   .heroWrapper>div h1 {
      letter-spacing: -0.5rem;
      font-size: 6rem;
      line-height: 7rem;
   }

   .heroWrapper>div:last-child {
      width: 100%;
      justify-content: flex-end;
      padding-right: 2rem;
      align-items: flex-end;
   }

   .heroWrapper>div:last-child h1 span {
      letter-spacing: -0.6rem;
   }


}