.letterPage {
   font-family: var(--serif);
   padding: 4rem 2rem 0 3rem;
}

.letterPage h3 {
   font-size: 1.15rem;
   margin: 0 0 1rem 0;
}

.letterPage p {
   font-size: 1.15rem;
   margin: 1rem 0 0 0;
   line-height: 1.6rem;
}

.letterPage em {
   font-style: italic;
}