.photoPage {
   height: 100dvh;
   overflow: hidden;
   /* background-color: pink; */
   position: relative;
}

.photoPage img {
   opacity: 0;
   transition: none;
   
   filter: grayscale(1)
}

.photoPage img:hover{
   filter: unset;
}

.pinWrapper {
   width: 100%;
   display: contents;
   height: 100%;
}
@media screen and (max-width: 768px) {
  /* TODO: mobile styles */
}

