.photoPage {
   height: 100dvh;
   overflow: hidden;
   /* background-color: pink; */
   position: relative;
   filter: grayscale(1)
}

.photoPage img {
   opacity: 0;
   /* initial hidden state */
   transition: none;
   /* let GSAP handle the animation */
}

.pinWrapper {
   width: 100%;
   display: contents;
   height: 100%;
}