:root {
  --background: #f3f2ec;
  --text: rgb(48, 42, 26);
}

html {
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
  scrollbar-gutter: auto;

  padding: 0;
  margin: 0;
  /* scrollbar-color: var(--background) var(--background); */
  scrollbar-width: 0px;
}

body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0;
  margin: 0;
}


* {
  box-sizing: border-box;
}