.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'EB Garamond', 'Times New Roman', Times, serif;
}
.p1{
  margin-top: 3em;
  font-size: 2em;
}
.p2{
  margin-top:-0.2em;
  font-size: 8em;
}