.main {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

.flower {
  width: 100%;
  height: 100%;
}

.photos {
  width: 100%;
  height: 100%;
}